/* By: Andrew Lavina - 301226078 
Date: Oct. 21, 2022*/
.banner {
    text-align:center;
    color:whitesmoke;
    text-shadow: black 4px 4px 5px,blue 0 0 30px,darkblue 0 0 5px ;
      background: rgba(0, 0, 0, 0.6);
      padding-top: 5px;
      padding-bottom: 5px;
    }
p{
    font-size: 20px;
    text-align: center;
}