
<html>
    <head>
        <title><%= title %></title>
        <link href="./css/about.css" rel="stylesheet" type="text/css">
    </head>
    <body>
   
    <div class="banner">
        <h1>Welcome to <i>Andrew's</i> about page</h1>
        <h1>Andrew Lavina - 301226078 &nbsp;COMP 229-Fall 2022</h1>
    </div>
    <div class="main">
        <img src="./image/me.jpeg" class="andrew" alt="Andrew" >
    <h2>
        <u>Some backround about <i>Andrew</i></u>
    </h2>
    <p><b>I have been working in healthcare for 9 years, and I decided to go into something with computers.
        <br>The reason I wanted to do software is because I have been working on the hardware during my highschool years <br>
            and I wanted to learn more on the otherside.</b></p>
    </div>
    <div class="resume">
    <h2><a href="./resume/Andrew-Lavina-Resume.docx">Andrew's Resume</a></h2>
    </div>
    </body>
</html>