<link href="./css/home.css" rel="stylesheet" type="text/css">

<<div class="banner">
    <h1>
        Andrew's Services
    </h1>
</div>
<p>
    <b>
        The mission of the Andrew Lavina's Portfolio is to provide a platform for the user to learn more about Andrew Lavina and his work.
    </b>

<br><a href="/about">Learn more about Andrew</a><br>
<a href="/contact">Contact Andrew</a><br>
<a href="/projects">View Andrew's Projects</a><br>
<a href="/services">View Andrew's Services</a><br>
</p>