<link href="./css/project.css" rel="stylesheet" type="text/css">

<body>
<div class="banner">
    <h1>
        Andrew's Project
    </h1>
    </div>

<ul class="proj">
    <li>
        <a href="./project1.html">
            <h3>
                <div class ="banner1">
                    Project 1
                </div>
            </h3>
            <img src="https://images.unsplash.com/photo-1572177812156-58036aae439c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cHJvamVjdHN8ZW58MHx8MHx8&w=1000&q=80" height ="200px">
        </a>
    </li>

    <li>
        <a href="./project2/assignment2.html">
            <h3>
                <div class ="banner1">
                    Project 2
                </div>
            </h3>
            <img src="https://thumbs.dreamstime.com/b/many-people-hands-holding-red-word-projects-caucasian-letters-characters-building-isolated-english-white-background-54034722.jpg" height ="200px"></a>
        </a>
    </li>
    <li>
        <a href="./project3/TermProject.html">
            <h3>
                <div class ="banner1">
                    Project 3
                </div>
            </h3>
            <img src="https://thumbs.dreamstime.com/b/project-management-concept-27391266.jpg" height ="200px"></a>
        </a>
    </li>
</ul>
</body>