<link href="./css/service.css" rel="stylesheet" type="text/css">

<div class="banner">
    <h1>
        Andrew's Services
    </h1>
    </div>

<ul class="service">

<li>
    <h3>
        <div class ="banner1">
            General Programming 
        </div>
    </h3>
    <img src="https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" height ="200px">
</li>


<li>
    <h3>
        <div class ="banner1">
            Web Development
        </div>
    </h3>
    <img src="https://thumbs.dreamstime.com/b/web-development-coding-programming-internet-technology-business-concept-web-development-coding-programming-internet-technology-121903546.jpg" height ="200px"></a>
</li>

<li>
    <h3>
        <div class ="banner1">
            Web Design
        </div>
    </h3>
    <img src="https://img.freepik.com/free-vector/cartoon-web-design-background_52683-70879.jpg" height ="200px"></a>
</li>
<li>
    <h3>
        <div class ="banner1">
            Database Design
        </div>
    </h3>
    <img src="https://thumbs.dreamstime.com/b/relational-database-table-web-application-technology-background-app-163646087.jpg" height ="200px"></a>
</li>

<li>
    <h3>
        <div class ="banner1">
            Software Development
        </div>
    </h3>
    <img src="https://thumbs.dreamstime.com/b/software-development-programming-coding-internet-technology-business-concept-software-development-programming-coding-internet-technology-121903550.jpg" height ="200px"></a>
</li>

</ul>